#rofi didn't work for me used wofi
window {
  margin: 0px;
  border: 2px solid #444444;
  background-color: rgba(50, 50, 50, 0.7);
  border-radius: 16px;
}

#entry {
  padding: 10px;
  margin: 4px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.05);
}

#entry:selected {
  background-color: rgba(200, 200, 200, 0.2);
  border: 1px solid #888;
}

#input {
  margin: 10px;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  font-size: 16px;
  border-radius: 8px;
  padding: 8px;
}

#text {
  color: #f1f1f1;
  font-size: 16px;
}
